<% @list = @lists.select { |l| l.wunderlist_id == task.list_id }.first  %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">
        <h5>
          <span class="glyphicon glyphicon-forward"></span>
          <%= task.title %>
        </h5>
        <h6>
          <%= @list.title %>
        </h6>
        <p>
          <% if task.assignee_id %>
            <small>assigned to <%= @list.user_name(task.assignee_id) %></small>
          <% end %>
        </p>
      </div>

      <div class="col-md-2">
        <h5>
          <img src="http://a.wunderlist.com/api/v1/avatar?size=64&user_id=<%= task.assignee_id %>" alt="" />
        </h5>
      </div>
    </div>
  </div>
</div>
