<% @timeline.each do |sprint| %>

<ul>
  <h2>before <%= sprint.date %></h2>
  <ul>
    <% sprint.tasks.each do |task| %>
    <li class="<%= task.completed_at.present? ? "completed" : "" %>"><%= task.title %> - <%= task.due_date %></li>
    <% end %>
  </ul>
</ul>
<% end %>


