<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="wunderfont blue">Current Activity</h2>
      <div>
        <%= render collection: @tasks_in_progress, partial: "task" %>
      </div>
    </div>
    <div class="col-md-4">
      <h4 class="wunderfont blue">Finished Tasks</h4>
      <div>
        <%= render collection: @completed_tasks[0..60], partial: "completed_task" %>
      </div>
    </div>
  </div>
</div>
