.completed {
  background-color: #093;
  color: #fff;
}

.sprint li p {
  margin: 0;
  padding: 3px;
}

.list, .sprint, .board {
  border: 1px solid #BBB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.box {
  padding: 10px;
}

.list {
  margin: 10px;
  min-height: :;em;
}
.list h1 {
  font-size: 1.5em;
}

.progress {
  background-color: #eee;
  height: 10px;
  width: 100%;
}
.progress .complete {
  background-color: #093;
}

.completed a {
  color: white;
}

